@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* 
@theme {
  --color-maydanDark: #1d2a2e;
  --color-maydan: #55a8c2;
  --color-maydanLight: #a4e9d7;
  --color-liked: #CD1D5F;
  --color-retweet: #00FF00;
} */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Page Loader */
#page-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-style: italic;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@keyframes wave {
  0% {
    clip-path: polygon(0% 38%,
        21% 40%,
        38% 51%,
        54% 57%,
        75% 57%,
        100% 52%,
        100% 100%,
        0 100%);
  }

  50% {
    clip-path: polygon(0% 49%,
        16% 56%,
        33% 55%,
        55% 50%,
        75% 42%,
        100% 40%,
        100% 100%,
        0 100%);
  }

  100% {
    clip-path: polygon(0% 38%,
        21% 40%,
        38% 51%,
        54% 57%,
        75% 57%,
        100% 52%,
        100% 100%,
        0 100%);
  }
}

.wave {
  position: relative;
  width: 200px;
  height: 200px;
}

.wave h2 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  line-height: 175px;
  font-size: 50px;
  text-transform: uppercase;
  padding-left: 3rem;
}

.wave h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #55a8c2;
}

.wave h2:nth-child(2) {
  color: #55a8c2;
  /*   clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0); */
  animation: wave 2s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
  .wave {
    position: relative;
    width: 300px;
    height: 300px;
  }

  .wave h2 {
    line-height: 250px;
    font-size: 80px;
    padding-left: 0rem;
  }

}



.sidebarLogo {
  content: url('https://res.cloudinary.com/aa1997/image/upload/v1751518600/favicon_hiqtp9.svg');
  height: 2.5rem;
  width: 2.5rem;
}

#footer-img>.sidebarLogo {
  content: url('https://res.cloudinary.com/aa1997/image/upload/v1751518818/new-desktop-logo_ocwyft.svg');
  height: 2.5rem;
  width: 5rem;
  padding: 0;
}

@media(min-width: 768px) {
  .sidebarLogo {
    content: url('https://res.cloudinary.com/aa1997/image/upload/v1751518818/new-desktop-logo_ocwyft.svg');
    height: 5rem;
    width: 7rem;
    padding-left: 1em;
  }

  #footer-img>.sidebarLogo {
    content: url('https://res.cloudinary.com/aa1997/image/upload/v1751518818/new-desktop-logo_ocwyft.svg');
    height: 5rem;
    width: 7rem;
    padding-left: 1em;
  }

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#widgets.hidden {
  display: none !important;
}

    @keyframes moveAndScaleClippedSmooth {
      /* Start position: Far left, scaled down, fully off-screen */
      0% { transform: translateX(-260px) scale(0.1); opacity: 0.1; }
      /* Middle: Center, full size (foreground) */
      50% { transform: translateX(0px) scale(1.0); opacity: 1; }
      /* End position: Far right, scaled down, fully off-screen */
      100% { transform: translateX(260px) scale(0.1); opacity: 0.1; }
    }

    .wind-shape-clipped-smooth {
      animation-name: moveAndScaleClippedSmooth;
      animation-duration: 4s;
      animation-timing-function: ease-in-out; 
      animation-iteration-count: infinite;
      /* Origin set to the center of the 230x230 viewbox */
      transform-origin: 115px 115px; 
    }

    .delay-short { animation-delay: 0.5s; }
    .delay-long { animation-delay: 1.5s; } 